<%-include("pertials/header.ejs")%>

<div id="midcontainer" style="height: 80vh">
    <h1 style="text-align: center; margin: 20% 0% 0% 0%">Get in touch</h1>
    <p style="text-align: center; font-size: 1.3vw; margin: 5% 0% 0% 0%">
      <img
        src="/image/mail.png"
        alt="mail"
        style="width: 1.5%; margin: 0% 1.2% 0% 0%"
      />Email us
      <strong
        ><a href="" style="text-decoration: none">xyy@gmail.com</a></strong
      >
      <br />
      Tell us something about yourself, like where on earth (nearest city)
      you’re emailing from.
      <br />
      We reply to every email within about a week. So if you don’t see a
      reply, check your spam folder.
    </p>
    <br />
    <p style="text-align: center">Follow us</p>
    <div id="social_media">
      <a href="" class="social facebook">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a href="" class="social instagram">
        <i class="fab fa- fa-instagram"></i>
      </a>
    <a href="" class="social linkdin"><i class="fab fa- fa-linkedin"></i>
    </a>
      <a href="" class="social youtube"><i class="fab fa-x fa-youtube"></i></a>
    </div>
  </div>
  <!-- <Script>
    console.log(window.location);
  </Script> -->
  <%-include("pertials/footer.ejs")%>