<div style="    
background-color: rgb(251, 250, 250);
display: flex;
flex-direction: column;
gap: 1.5vw;
width: 100%;
border: 1px solid rgb(219, 213, 213);
padding: 5%;
position: relative;
left: 30%;
top: 20%;
min-width: 30%;
max-width: 30%;
min-height: 20%;
max-height: 40%;">
<h1 style="font-size:3.5vw;   text-align:center; color:#0d6efd;  ">BOOK's NOTES</h1>
<a href="/Singin" style="background-color: #0d6efd;
    text-decoration: none;
    color: white;
    padding: 2%;
    width: 50%;
    margin: 0 0 0 23%;
    border: radius 0.25em;
    text-align: center;
    font-size: 1.5vw;
    border-radius: 0.375rem;
    box-sizing: border-box;
">Sing in</a>

<a href="/Login" style="background-color: #0d6efd;
    text-decoration: none;
    color: white;
    padding: 2%;
    width: 50%;
    margin: 0 0 0 23%;
    border: radius 0.25em;
    text-align: center;
    font-size: 1.5vw;
    border-radius: 0.375rem;
    box-sizing: border-box;
" >Log in</a>

</div>
<!-- position:relative; top:20% ;left:40%; -->