<div style=" width:40%;
height:70%;
position: relative;
top:10% ;
left:30%;
background-color: rgb(255, 255, 255); 
border: 1px solid rgb(184, 178, 178);">
   
    <h1 style="color:#0d6efd; text-align:center; font-size:3.5rem; padding: 1%; margin: 2%; ">Sign In</h2>
    <form action="/signin" method="post" style=" display:flex; flex-direction: column; justify-content: center;  padding:3% 5% 5% 5% ">
        <input type="text" name="new_email_id" placeholder="Enter an email id" style="border: 0px; margin:2%; border-bottom: 1px solid rgb(190, 184, 184); padding:2%; outline: none;" >
        <input type="text" name="new_username" placeholder="Create an username"  style="border: 0px; margin:2%; border-bottom: 1px solid rgb(190, 184, 184); padding:2%; outline:none;">
        <input type="password" name="new_password" placeholder="Create a password "  style="border: 0px; margin:2%; border-bottom: 1px solid rgb(190, 184, 184); padding:2%; outline:none;">
        <input type="submit" value="sumbit" style="padding:2%; text-align:center; background-color:#0d6efd; color:white; font-size:1.5rem; border: 0px; margin:2%;"  >
       
    </form>
</div>